//====================================================================================================
.header {
	background-color: $mainLightBlue;

	&__body {
		display: flex;
		justify-content: space-between;
		align-items: center;

		min-height: rem(80);

		@media (max-width: 600px) {
            justify-content: center;
		}
	}
	&__logo-box {
		display: flex;
		align-items: center;
		transition: all 0.4s ease 0s;

		&:hover {
			opacity: .5;
			transition: all 0.4s ease 0s;
		}
	}
	&__logo-text {
		font-family: "Futura";
		font-weight: 600;
		font-size: rem(20);
		line-height: rem(23);
		padding: 0px rem(25) 0px 0px;
	}
	&__logo-box img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	&__logo {
		@include adaptiveValue("max-width", 80, 60, 900, 600, 1);
		width: 100%;
	}
	&__phone {
		display: flex;
		align-items: center;
		font-weight: 400;

		@media (max-width: 600px) {
            display: none;
        }
		
		transition: all 0.4s ease 0s;
		
		&:before {
			@include adaptiveValue("font-size", 30, 20, 900, 600, 1);
			color: $mainColor;
			@include adaptiveValue("padding-right", 20, 10, 900, 600, 1);
		}
		&:hover {
			opacity: .5;
			transition: all 0.4s ease 0s;
		}
	}
}
//====================================================================================================

//Burger
/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
		}
		&::before {
			top: 0px;
		}
		&::after {
			bottom: 0px;
		}
		span {
			top: calc(50% - 1px);
		}
		.menu-open & {
			span {
				transform: scale(0);
			}
			&::before {
				transform: rotate(-45deg);
				top: calc(50% - 1px);
			}
			&::after {
				transform: rotate(45deg);
				bottom: calc(50% - 1px);
			}
		}
	}
}
*/
