@font-face {
	font-family: Futura;
	font-display: swap;
	src: url("../fonts/FuturaDemiC Regular.woff2") format("woff2"), url("../fonts/FuturaDemiC Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: gothampro;
	font-display: swap;
	src: url("../fonts/gothampro.woff2") format("woff2"), url("../fonts/gothampro.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: gothampro;
	font-display: swap;
	src: url("../fonts/gothampro_black.woff2") format("woff2"), url("../fonts/gothampro_black.woff") format("woff");
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: gothampro;
	font-display: swap;
	src: url("../fonts/gothampro_medium.woff2") format("woff2"), url("../fonts/gothampro_medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: gothampro;
	font-display: swap;
	src: url("../fonts/gothampro_bold.woff2") format("woff2"), url("../fonts/gothampro_bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: gothampro;
	font-display: swap;
	src: url("../fonts/gothampro_light.woff2") format("woff2"), url("../fonts/gothampro_light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: icons;
	font-display: swap;
	src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
